.contact{
	width: 100%;
	height: auto;
	display: block;

	.list{
		display: flex;
		justify-content: center;
		align-items: center;
		@media (orientation: landscape) {
			justify-content: flex-start;
		}

		@media screen and (min-width: 700px) {
			padding: 0 20px;
		}

		li{
			position: relative;
			display: inline-block;
			margin: 15px;
			color: $aBlue;
			@media screen and ( min-width: 700px ) and ( min-height: 700px ) {
		  	margin: 40px 20px;
		  }

			&.bubble{
				padding: 15px;
				border-radius: 50%;
				background-color: $aBlue;
				color: $white;
				cursor: pointer;
				will-change: transform, opacity;

				.fa{
					font-size: 1.2em;
				}

				.socials{
					will-change: transform, opacity;
				}
			}

			.fa{
				font-size: 2em;
				position: relative;
			}
		}
	}
}