.description{
	position: relative;
	width: auto;
	height: auto;
	padding: 20px;
	max-width: 430px;

	@media screen and ( min-width: 500px ) and ( orientation: portrait ) {
			text-align: center;
			left: 50%;
			transform: translateX(-50%); 
	}

	@media (min-width: 701px)  {
		padding: 40px;
	}

	@media screen and (min-height: 701px) {
		padding: 20px 40px;
	}

	@media screen and (orientation: landscape) and (max-width: 700px){
		max-width: 330px;
	}

	.stressed{
		font-family: $pierB;
		font-size: 1.2em;
		color: $aBlue;
	}

	.crossed{
		text-decoration: line-through;
	}

	.name{
		.stressed{
			font-size: 1.8em;
		}
	}

	// .frag{
	// 	@media screen and ( min-width: 374px ) and ( orientation: portrait ) {
	// 		display: block;
	// 	}
	// }

	.student{
		padding: 10px 0;

		@include size-up{
			padding: 20px 0;
		}

	}

	.content{
		padding: 20px 0;

		@include size-up{
			padding: 30px 0;
		}

	}
}