.description{
	position: relative;
	width: 100vw;
	height: auto;
	padding: 20px;

	.stressed{
		font-family: $pierB;
		font-size: 1.2em;
		color: $aBlue;
	}

	.crossed{
		text-decoration: line-through;
	}

	.name{
		.stressed{
			font-size: 1.8em;
		}
	}

	.frag{
	}

	.student{
		padding: 10px 0;

	}

	.content{
		padding: 10px 0;

	}
}