.rand-char-back{
	user-select: none;
	cursor: default;
	width: 110vw;
	height: 110vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	position: absolute;
	font-family: $ubuntu;
	font-size: 1.2em;
	line-height: 1;
	color: $aBlue;
	opacity: 0.15;

	.line{
		width: inherit;
		white-space: pre;
		display: flex;
		flex-wrap: nowrap;
	}

	span{
		display: inline-block;
		flex-shrink: 0;
	}

	&.testing{
		opacity: 0;
	}
}