.rand-char-back{
	user-select: none;
	cursor: default;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	font-family: $ubuntu;
	font-size: 22px;
	line-height: 1;
	color: $aBlue;
	opacity: 0.1;

	span{
		position: absolute;
		opacity: 0;
		display: inline-block;
	}

	&.testing{
		opacity: 0;
	}
}