{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
 	{% render_bundle 'main' 'css' %}
    <title>{% block title %}Boris' portfolio{% endblock %}</title>
    <meta name="title" content="Boris' portfolio">
    <meta name="description" content="Hi, I'm Boris a web developer based in Paris, but also traveler and a great cook ! ( trust me )">
    <link rel="icon" href="/static/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>

	<div id="container"></div>
	{% render_bundle 'main' 'js' %}
	
</body>
</html>

