@import 'config/_reset.scss';
@import 'config/_mixin.scss';
@import 'config/_colors.scss';
@import 'config/_font.scss';

@import 'parts/_rand-char-back.scss';
@import 'parts/_contact.scss';
@import 'parts/_description.scss';
@import 'parts/_loader.scss';
@import 'parts/_works.scss';

@import 'font-awesome/font-awesome.scss';



.wrapper-portfolio{
	font-family: $pier;
	font-size: 18px;
	position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  @include size-up {
  	font-size: 22px;
  }

	.portfolio{
    display: flex;
    flex-wrap: nowrap;
    width: inherit;
    height: inherit;
    @media (orientation: landscape){
    	justify-content: center;
    }

    .column{
    	height: 100vh;
	    display: flex;
	    flex-wrap: nowrap;
	    flex-direction: column;
	    justify-content: space-between;

    	&.unique{
				width: inherit;
				max-height: 700px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
    	}

    	&.first{
    		justify-content: center;
        padding-right: 20px;
    	}

    	&.second{

    	}
    }
	}
}

div{
	box-sizing: border-box;
}

.shadow{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}